azure-ai-ml
azure-ai-resources
azure-search-documents==11.4.0
promptflow
promptflow[azure]
promptflow-tools
promptflow-evals
azure-identity
pandas
python-dotenv==1.0.1
jsonlines
promptflow.evals
openpyxl
marshmallow==3.22.0